@inject HttpClient Http
@code {
    private List<Table> Tables { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Tables = await Http.GetFromJsonAsync<List<Table>>("tables");
    }
}

<table>
    <thead>
        <tr>
            <th>Location</th>
            <th>Seats</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var table in Tables)
        {
            <tr>
                <td>@table.Location</td>
                <td>@table.NumberOfSeats</td>
            </tr>
        }
    </tbody>
</table>
