@page "/booking/create"
@rendermode InteractiveServer

<p class="text-center text-primary shadow-lg p-2 mb-2 bg-light-subtle rounded fs-1"
   style="font-family: 'Arial, sans-serif'; font-weight: bold; letter-spacing: 1px;">
    Create New Booking
</p>


<div class="container mt-4">
    <div class="d-flex justify-content-end">
        @* <button class="btn btn-primary mb-3" type="submit" @onclick="Submit">Create</button> *@
    </div>

    <div class="card shadow-lg">
        <div class="card-body">
            
            <EditForm Model="Model"OnValidSubmit="Submit" >
                <div class="row">

                    @* <div class="col-md-6"> *@
                    @*     <div class="form-group"> *@
                    @*         <label for="tableId" class="form-label">Table Id</label> *@
                    @*         <InputNumber class="form-control" @bind-Value="Model.TableId" id="tableId" /> *@
                    @*         <ValidationMessage For="() => Model.TableId" /> *@
                    @*     </div> *@
                    @* </div> *@

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="tableId" class="form-label">Table Id</label>
                            <InputSelect class="form-control" @bind-Value="Model.TableId" id="tableId">
                                <option value="">-- Select Table --</option>
                                @foreach (var table in TableModels)
                                {
                                    <option value="@table.TableId">@table.Name (@table.TableId)</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => Model.TableId" />
                        </div>
                    </div>

                    <!-- Customer Name -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="customerName" class="form-label">Customer Name</label>
                            <InputText class="form-control" @bind-Value="Model.CustomerName" id="customerName" />
                            <ValidationMessage For="() => Model.CustomerName" />
                        </div>
                    </div>

                    <!-- Contact Number -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="contactNumber" class="form-label">Contact Number</label>
                            <InputText class="form-control" @bind-Value="Model.ContactNumber" id="contactNumber" />
                            <ValidationMessage For="() => Model.ContactNumber" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="date" class="form-label">Date</label>
                            <InputDate class="form-control" @bind-Value="Model.Date" id="date" />
                            <ValidationMessage For="() => Model.Date" />
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="time" class="form-label">Time-Slot</label>
                            <InputSelect class="form-control" @bind-Value="Model.Time" id="time">
                                <option value="">-- Select Time --</option>
                                <option value="Morning">Morning</option>
                                <option value="Afternoon">Afternoon</option>
                                <option value="Evening">Evening</option>
                                <option value="Night">Night</option>
                            </InputSelect>
                            <ValidationMessage For="() => Model.Time" />
                        </div>
                    </div>


                    <!-- Table Type Selection -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="tableType" class="form-label">Table Type</label>
                            <InputSelect class="form-control" @bind-Value="Model.TableType" id="tableType">
                                <option value="">-- Select Table Type --</option>
                                <option value="Regular">Regular</option>
                                <option value="Family">Family</option>
                                <option value="Couple">Couple</option>
                                <option value="VIP">VIP</option>
                                <option value="Outdoor">Outdoor</option>
                            </InputSelect>
                            <ValidationMessage For="() => Model.TableType" />
                        </div>
                    </div>

                  </div>
                    <!-- Full Width Save Button -->
                    <div class="d-flex justify-content-center mt-4">
                        <button class="btn btn-success w-100" type="submit">Save</button>
                    </div>

            </EditForm>

        </div>
    </div>
</div>

