@using Microsoft.EntityFrameworkCore.Metadata.Internal

using RestaurantManagementSystemUI.Components.Model;
@inject TableService TableService
@inject ReservationService ReservationService

<h3>Table List</h3>
@if (Tables == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var table in Tables)
    {
        <TableCard Table="table" />
    }
}

@code {
    private List<Table> Tables;

    protected override async Task OnInitializedAsync()
    {
        Tables = await TableService.GetTablesAsync();
    }
}
