@page "/table/update/{Id:int}"


<p class="text-center text-primary shadow-lg p-2 mb-2 bg-light-subtle rounded fs-1"
   style="font-family: 'Arial, sans-serif'; font-weight: bold; letter-spacing: 1px;">
    Edit The Table Data
</p>
<div class="card shadow-lg">
    <div class="card-body">
        <EditForm Model="Model" OnValidSubmit="Submit">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tableId" class="form-label">TableId</label>
                        <InputNumber  class="form-control" @bind-Value="Model.TableId" id="tableId"></InputNumber>
                        <ValidationMessage For="() => Model.TableId" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name" class="form-label">Table Name</label>
                        <InputText class="form-control" @bind-Value="Model.Name" id="name" />
                        <ValidationMessage For="() => Model.Name" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tableTag" class="form-label">Table Tag</label>
                        <InputText class="form-control" @bind-Value="Model.TableTag" id="tableTag" />
                        <ValidationMessage For="() => Model.TableTag" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="capacity" class="form-label">Capacity</label>
                        <InputNumber class="form-control" @bind-Value="Model.Capacity" id="capacity" />
                        <ValidationMessage For="() => Model.Capacity" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="isBooked" class="form-label">Is Booked</label>
                        <InputCheckbox @bind-Value="Model.IsBooked" id="isBooked" class="custom-checkbox" />
                        <ValidationMessage For="() => Model.IsBooked" />
                    </div>
                </div>

            </div>

            <div class="d-flex justify-content-between mt-4">
                <button class="btn btn-secondary ms-2 w-25" @onclick="cancelClick" type="button">Cancel</button>
                <button class="btn btn-success me-2 w-25" type="submit">Save</button>
            </div>

           
        </EditForm>
    </div>
</div>